@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,);

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif !important;
}

.indent {
  text-indent: 20px;
}

@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

#num1, #num2 {
  width: 25vh;
  display: inline;
}